In [38]:
# 집합 자료형 

# 숫자 자료형 : 1
# 문자열 자료형 : '', "", '''''', """"""
# 리스트 자료형 : []
# 튜플 자료형 : ()
# 딕셔너리 자료형 : {'key':'value'}
# 집합 자료형 : {1,2,3,4}

l=[1,2,3,4] # 리스트
t=(1,2,3,4) # 튜플
d={} # 빈 딕셔너리
s={1,2,3,4} # set집합에 빈 집합은 존재하지 않는다. 
print(s)



print("=="*30)



s1=set([1,2,3,4])  # set을 통해 리스트를 넣거나 
s2=set((5,6,7,8))  # set을 통해 튜플을 넣을 수 있다. 
print(s1)
print(s2)
# 출력하면 집합자료형으로 출력이된다

# 리스트나, 튜플 자료형으로 가지고 오고 싶다면?
l=list(s2)
t=tuple(s1)
print(l)
print(t)
# 집합 자료형은 index를 사용하지 않는다. 왜? 순서가 없기 때문이다. 



print("=="*30)



# 집합 자료형 : 교집합, 합집합, 차집합을 구하기 위한 자료형이다.
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

# 교집합
print(s1&s2)
print(s1.intersection(s2))
# 합집합
print(s1|s2)
print(s1.union(s2))
# 차집합 
print(s1-s2)
print(s1.difference(s2)) # s1에서 s2와 다른 것만 가져와라

{1, 2, 3, 4}
============================================================
{1, 2, 3, 4}
{8, 5, 6, 7}
[8, 5, 6, 7]
(1, 2, 3, 4)
============================================================
{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}

In [48]:
# 집합에 값 한 개 추가하기 
s1={1,2,3,4,5,6}
print(s1)
s1.add(7)
print(s1)
s1.add(5) # 집합 자료형에서는 데이터의 중복을 허용하지 않는다. 
print(s1)

### update
# 여러 개의 데이터를 넣고 싶다면? 
s1.update([8,9,10])
print(s1)

### remove
# 특정 값 삭제하기 
s1.remove(8)
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [60]:
# 부울 자료형 : True/False

a=True # 부울 자료형 bool  
b="True" # 문자열 자료형 string
print(a)
print(b)

# 출력되는 결과는 같지만 다른 자료형이며 연산을 해보면 알 수 있다. 

print(a+a)
print(b+b)

c=False
print(c+c)

True
True
2
TrueTrue
0

In [61]:
### 데이터의 자료형을 확인
print(type(a))
print(type(b))
print(type(c))
i=3
l=[1,2,3]
t=(1,2,3)
dic={1:1}
s={1,2,3}
dic1={}
print(type(i))
print(type(l))
print(type(t))
print(type(dic))
print(type(s))
print(type(dic1))

<class 'bool'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'dict'>

In [64]:
# 비교 (관계) 연산자의 결과값은 부울 타입이다.
x=10;y=20
z=x<y
print(type(z))
print(z)
z=x<=y
print(z)
z=x>y
print(z)
z=x>=y
print(z)
z=x!=y
print(z)
z=x==y
print(z)

<class 'bool'>
True
True
False
False
True
False

In [69]:
# 논리 연산자 (and,or) 의 결과값 
# 부울 타입 간의 연산을 논리연산이라고 한다.
print(True and True)
print(True and False)
print(False and True)
print(False and False)
print("=="*30)
print(True or True)
print(True or False)
print(False or True)
print(False or False)



print("=="*30)


# 논리연산은 비교연산과 항상 같이 써야한다. 왜?
# 비교연산의 결과값은 부울타입이고 부울타입간의 연산을 논리연산이라고 하기 때문.
# 논리연산을 하겠다는건, 비교연산도 같이 한다는 뜻이다.

x=10;y=20;z=30
boo=x>y and x<z      # 비교와 논리가 같이 진행됨
print(boo)

True
False
False
False
============================================================
True
True
True
False
============================================================
False

In [112]:
print(bool('예은'))   # 어떠한 문자열도 True 를 출력한다.
print(bool(''))       # 값이 존재하지 않으므로 False
print(bool(1))        # 숫자 1은 True
print(bool(100))      # 숫자 0을 제외한 나머지는 True
print(bool(0))        # 숫자 0은 False 
print(bool([1,2,3]))  
print(bool([]))       # False
print(bool((1,2,3)))
print(bool(()))       # False 
print(bool({}))       # False

# 빈 문자열, 리스트, 튜플, 딕셔너리는 전부 False


print("=="*30)

### 2200년은 윤년인가요? (윤년(True), 평년(False)) 
## 4년마다 윤년, 100년마다 평년, 400년마다 윤년

'''year=2200
a=(year%4==0)      # 나머지가 0이면 윤년        # True
b=(year%100==0)    # 나머지가 0이면 평년        # True
c=(year%400==0)    # 나머지가 0이면 윤년        # False 

print(a)
print(b)
print(c)

result=((a&b) & c)

print(result)

# 만약 a=0 이고 b!=0 윤년, a=0,b=0 이면 평년 

'''


print("=="*30)



print(2200%4==0)
print(2200%100!=0)
result=year%4==0 and year%100!=0 or year%400==0
print(result)




print(2200%4==0)
print(2200%100!=0)
if year%4==0 and year%100!=0 or year%400==0 :
    print("윤년")
else :
    print("평년")

True
False
True
True
False
True
False
True
False
False
============================================================
============================================================
True
False
False
True
False
평년

In [123]:
# 변수선언 방법
a=1
a="a"
a=b=c=0
print(a,b,c)
print(a,b,c,sep="/")

a,b="python","life"
print(a,b)
a,b=("python","life")
print(a,b)
(a,b)="python","life"
print(a,b)
(a,b)=("python","life")
print(a,b)
a,b=[1,2,3,4],[5,6,7,8]
print(a,b)
a,b=([1,2,3,4],[5,6,7,8])
print(a,b)

# a와 b가 가진 값을 교환
a=3;b=10
print(a,b)
a,b=b,a
print(a,b)

0 0 0
0/0/0
python life
python life
python life
python life
[1, 2, 3, 4] [5, 6, 7, 8]
[1, 2, 3, 4] [5, 6, 7, 8]
3 10
10 3